
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <meta name="Description" content="Book and Lend Your vehicles!">

    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">

    
</head>

<body>
    <header>
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Company Logo"
      class="company-logo">
        <nav class="navbar">
            <ul>
              <li class="nav-link"><a href="/">Login</a></li>
              <li class="nav-link"><a href="/about">About</a></li>
              <li class="nav-link"><a href="/testimony">Testimonies</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
            <div class="card">
              <div class="container">
                <h2>Ankit Giri</h2>
                <p class="title">Full Stack Web-Developer</p>
                <p>Student, National Institute of Technology, Warangal.</p>
                <p><a href="mailto:ankit.m.giri24@gmail.com">ankit.m.giri24@gmail.com</a> | <a href="https://www.linkedin.com/in/giriankit">linkedin.com/in/giriankit</a></p>
                <p><button class="button">Contact</button></p>
              </div>

            </div>
        
      </main>
    
    <footer>
        
    </footer>
</body>

</html>